body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 50vw;
    height: 80vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading{
    width: 90%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.738);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading h1{
    font-size: 2.5rem;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#display{
    width: 95%;
    height: 15%;
    background-color:azure;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 3.5rem;
    overflow: hidden;
}

#panel{
    width: 90%;
    height: 60%;
    background-color: white;
    margin: auto;
}

#btn-table{
    height: 100%;
    width: 100%;
    table-layout: fixed;
    /* border: 5px solid red; */
}

#btn-table tr td{
    border: 2px solid lightgray;
    width:fit-content;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.button p{
    font-size: 1.8rem;
    font-family:monospace;
    font-weight: 700;
    margin: 0%;
}

.button:hover{
    background-color: rgb(216, 166, 38);
}

.red-color{
    background-color: rgb(221, 97, 97);
}

.red-color:hover{
    background-color: rgb(238, 129, 129) !important;
}